# dependências
/node_modules
/.pnp
.pnp.js

# pastas de build do Next.js
/.next/
/out/

# arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# variáveis de ambiente (senhas e chaves)
.env
.env*.local

# arquivos do sistema operacional
.DS_Store
*.pem